* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100%;
}

.app-container {
  display: grid;
  grid-template-rows: 8vh 50vh 32vh;
  row-gap: 4vh;
  justify-items: center;
}

header {
  width: 95%;
  border: 2px solid black;
}

.decks-container {
  width: 95%;
  border: 2px solid black;
  display: grid;
  grid-template-columns: 38% 24% 38%;
}
.decks-container .deck1 {
  border: 2px solid black;
  height: 100%;
  display: grid;
  grid-template-columns: 80px 5fr 1fr;
}
.decks-container .deck1-panel {
  border: 2px solid purple;
  display: grid;
  grid-template-rows: 70% 1fr;
}
.decks-container .deck1-panel-transport {
  display: flex;
  align-items: center;
  justify-content: center;
}
.decks-container .deck1-panel-transport .button {
  padding: 30px;
  margin: 0 5px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
  text-shadow: -1px 1px 0px rgba(0, 128, 0, 0.14);
  text-align: center;
  font-size: 12px;
  padding: 20px;
  border-radius: 3px;
  display: inline-block;
  background-image: linear-gradient(#393F45, #52585E);
  min-height: 5px;
  min-width: 40px;
  box-shadow: 0 1px 4px rgba(255, 255, 255, 0.15) inset, 0 -20px 100px rgba(0, 0, 0, 0.25) inset, -3px -2px 5px rgba(0, 0, 0, 0.5);
}
.decks-container .deck1-panel-transport .button:active {
  box-shadow: 0 1px 5px rgba(255, 255, 255, 0.08) inset, 0 -20px 100px rgba(0, 0, 0, 0.25) inset, -2px 2px 2px rgba(0, 0, 0, 0.25), 0 10px 100px rgba(0, 0, 0, 0.2) inset;
}
.decks-container .deck1-panel-transport .button svg {
  fill: #FFA830;
}
.decks-container .deck1-eq {
  height: 100%;
  border: 2px solid hotpink;
  width: 12vh;
}
.decks-container .deck1-eq-high {
  border: 2px solid green;
  width: 100%;
  height: 25%;
}
.decks-container .deck1-eq-mid {
  border: 2px solid green;
  width: 100%;
  height: 25%;
  z-index: 30;
}
.decks-container .deck1-eq-low {
  border: 2px solid green;
  width: 100%;
  height: 25%;
}
.decks-container .deck1-eq-filter {
  border: 2px solid green;
  width: 100%;
  height: 25%;
}
.decks-container .deck1-tempo {
  border: 2px solid crimson;
  height: 70%;
  position: relative;
  overflow: hidden;
}
.decks-container .deck1-tempo .input-container {
  position: absolute;
  left: -122%;
  top: 43%;
}
.decks-container .deck1-tempo .input-container input[type=range] {
  cursor: pointer;
  width: 260px !important;
  -webkit-appearance: none;
  z-index: 200;
  width: 50px;
  border: 1px solid #e6e6e6;
  background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e6e6e6), to(#d2d2d2));
  background-image: -webkit-linear-gradient(right, #e6e6e6, #d2d2d2);
  background-image: -moz-linear-gradient(right, #e6e6e6, #d2d2d2);
  background-image: -ms-linear-gradient(right, #e6e6e6, #d2d2d2);
  background-image: -o-linear-gradient(right, #e6e6e6, #d2d2d2);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.decks-container .deck1-tempo .input-container input[type=range]:focus {
  border: 0 !important;
  outline: none !important;
}
.decks-container .deck1-tempo .input-container input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 35px;
  height: 50px;
  background: repeating-linear-gradient(90deg, #fff 1px, #fff 1px, #242A2E 1px, #353B3F 10px);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all 0.3s ease-out;
}
.decks-container .deck1-tempo .input-container input[type=range]::-webkit-slider-thumb:hover {
  width: 30px;
}
.decks-container .mixer {
  display: grid;
  grid-template-columns: 80px 1.5fr 80px;
  grid-template-rows: 4fr 1fr;
}
.decks-container .mixer-deck1-vol {
  border: 2px solid yellow;
  position: relative;
}
.decks-container .mixer-deck1-vol .input-container {
  position: absolute;
  left: -146%;
  top: 43%;
}
.decks-container .mixer-deck1-vol .input-container input[type=range] {
  cursor: pointer;
  width: 300px !important;
  -webkit-appearance: none;
  z-index: 200;
  width: 50px;
  border: 1px solid #e6e6e6;
  background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e6e6e6), to(#d2d2d2));
  background-image: -webkit-linear-gradient(right, #e6e6e6, #d2d2d2);
  background-image: -moz-linear-gradient(right, #e6e6e6, #d2d2d2);
  background-image: -ms-linear-gradient(right, #e6e6e6, #d2d2d2);
  background-image: -o-linear-gradient(right, #e6e6e6, #d2d2d2);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.decks-container .mixer-deck1-vol .input-container input[type=range]:focus {
  border: 0 !important;
  outline: none !important;
}
.decks-container .mixer-deck1-vol .input-container input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 35px;
  height: 50px;
  background: repeating-linear-gradient(90deg, #fff 1px, #fff 1px, #242A2E 1px, #353B3F 10px);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all 0.3s ease-out;
}
.decks-container .mixer-deck1-vol .input-container input[type=range]::-webkit-slider-thumb:hover {
  width: 30px;
}
.decks-container .mixer-meters {
  border: 2px solid purple;
}
.decks-container .mixer-deck2-vol {
  border: 2px solid fuchsia;
  position: relative;
}
.decks-container .mixer-deck2-vol .input-container {
  position: absolute;
  left: -146%;
  top: 43%;
}
.decks-container .mixer-deck2-vol .input-container input[type=range] {
  cursor: pointer;
  width: 300px !important;
  -webkit-appearance: none;
  z-index: 200;
  width: 50px;
  border: 1px solid #e6e6e6;
  background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e6e6e6), to(#d2d2d2));
  background-image: -webkit-linear-gradient(right, #e6e6e6, #d2d2d2);
  background-image: -moz-linear-gradient(right, #e6e6e6, #d2d2d2);
  background-image: -ms-linear-gradient(right, #e6e6e6, #d2d2d2);
  background-image: -o-linear-gradient(right, #e6e6e6, #d2d2d2);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.decks-container .mixer-deck2-vol .input-container input[type=range]:focus {
  border: 0 !important;
  outline: none !important;
}
.decks-container .mixer-deck2-vol .input-container input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 35px;
  height: 50px;
  background: repeating-linear-gradient(90deg, #fff 1px, #fff 1px, #242A2E 1px, #353B3F 10px);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all 0.3s ease-out;
}
.decks-container .mixer-deck2-vol .input-container input[type=range]::-webkit-slider-thumb:hover {
  width: 30px;
}
.decks-container .mixer-crossfader {
  border: 2px solid green;
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.decks-container .mixer-crossfader input[type=range] {
  cursor: pointer;
  width: 300px !important;
  -webkit-appearance: none;
  z-index: 200;
  width: 50px;
  border: 1px solid #e6e6e6;
  background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e6e6e6), to(#d2d2d2));
  background-image: -webkit-linear-gradient(right, #e6e6e6, #d2d2d2);
  background-image: -moz-linear-gradient(right, #e6e6e6, #d2d2d2);
  background-image: -ms-linear-gradient(right, #e6e6e6, #d2d2d2);
  background-image: -o-linear-gradient(right, #e6e6e6, #d2d2d2);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.decks-container .mixer-crossfader input[type=range]:focus {
  border: 0 !important;
  outline: none !important;
}
.decks-container .mixer-crossfader input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 35px;
  height: 50px;
  background: repeating-linear-gradient(90deg, #fff 1px, #fff 1px, #242A2E 1px, #353B3F 10px);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all 0.3s ease-out;
}
.decks-container .mixer-crossfader input[type=range]::-webkit-slider-thumb:hover {
  width: 30px;
}
.decks-container .deck2 {
  border: 2px solid black;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr 80px;
}
.decks-container .deck2-panel {
  border: 2px solid purple;
  display: grid;
  grid-template-rows: 70% 1fr;
}
.decks-container .deck2-panel-transport {
  display: flex;
  align-items: center;
  justify-content: center;
}
.decks-container .deck2-panel-transport .button {
  padding: 30px;
  margin: 0 5px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
  text-shadow: -1px 1px 0px rgba(0, 128, 0, 0.14);
  text-align: center;
  font-size: 12px;
  padding: 20px;
  border-radius: 3px;
  display: inline-block;
  background-image: linear-gradient(#393F45, #52585E);
  min-height: 5px;
  min-width: 40px;
  box-shadow: 0 1px 4px rgba(255, 255, 255, 0.15) inset, 0 -20px 100px rgba(0, 0, 0, 0.25) inset, -3px -2px 5px rgba(0, 0, 0, 0.5);
}
.decks-container .deck2-panel-transport .button:active {
  box-shadow: 0 1px 5px rgba(255, 255, 255, 0.08) inset, 0 -20px 100px rgba(0, 0, 0, 0.25) inset, -2px 2px 2px rgba(0, 0, 0, 0.25), 0 10px 100px rgba(0, 0, 0, 0.2) inset;
}
.decks-container .deck2-panel-transport .button svg {
  fill: #FFA830;
}
.decks-container .deck2-eq {
  height: 100%;
  border: 2px solid hotpink;
  width: 12vh;
}
.decks-container .deck2-eq-high {
  border: 2px solid green;
  width: 100%;
  height: 25%;
}
.decks-container .deck2-eq-mid {
  border: 2px solid green;
  width: 100%;
  height: 25%;
}
.decks-container .deck2-eq-low {
  border: 2px solid green;
  width: 100%;
  height: 25%;
}
.decks-container .deck2-eq-filter {
  border: 2px solid green;
  width: 100%;
  height: 25%;
}
.decks-container .deck2-tempo {
  border: 2px solid crimson;
  height: 70%;
  position: relative;
  overflow: hidden;
}
.decks-container .deck2-tempo .input-container {
  position: absolute;
  left: -122%;
  top: 43%;
}
.decks-container .deck2-tempo .input-container input[type=range] {
  cursor: pointer;
  width: 260px !important;
  -webkit-appearance: none;
  z-index: 200;
  width: 50px;
  border: 1px solid #e6e6e6;
  background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e6e6e6), to(#d2d2d2));
  background-image: -webkit-linear-gradient(right, #e6e6e6, #d2d2d2);
  background-image: -moz-linear-gradient(right, #e6e6e6, #d2d2d2);
  background-image: -ms-linear-gradient(right, #e6e6e6, #d2d2d2);
  background-image: -o-linear-gradient(right, #e6e6e6, #d2d2d2);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.decks-container .deck2-tempo .input-container input[type=range]:focus {
  border: 0 !important;
  outline: none !important;
}
.decks-container .deck2-tempo .input-container input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 35px;
  height: 50px;
  background: repeating-linear-gradient(90deg, #fff 1px, #fff 1px, #242A2E 1px, #353B3F 10px);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all 0.3s ease-out;
}
.decks-container .deck2-tempo .input-container input[type=range]::-webkit-slider-thumb:hover {
  width: 30px;
}

.playlist-container {
  width: 95%;
  border: 2px solid black;
}
.knob-input__container{position:relative}.knob-input__visual{pointer-events:none;width:100%;height:100%}.knob-input__input{cursor:-webkit-grab;cursor:grab;position:absolute;left:0;top:0;width:100%;height:100%;opacity:0}body.knob-input__drag-active,body.knob-input__drag-active *{cursor:-webkit-grabbing!important;cursor:grabbing!important}.fl-standard-knob .fl-standard-knob__svg{overflow:visible}.fl-standard-knob.drag-active .fl-standard-knob__dial,.fl-standard-knob:hover .fl-standard-knob__dial{-webkit-transform:scale(.9);transform:scale(.9);-webkit-transition:all .3s cubic-bezier(.39,.575,.565,1);transition:all .3s cubic-bezier(.39,.575,.565,1)}.fl-standard-knob.drag-active .fl-standard-knob__dial-highlight,.fl-standard-knob:hover .fl-standard-knob__dial-highlight{opacity:.05}.fl-standard-knob.focus-active .fl-standard-knob__focus-indicator{opacity:.8}.fl-standard-knob__focus-indicator{opacity:0;-webkit-transition:all .3s cubic-bezier(.39,.575,.565,1);transition:all .3s cubic-bezier(.39,.575,.565,1)}.fl-standard-knob__dial{-webkit-transform-origin:20px 20px;transform-origin:20px 20px;-webkit-transition:all .6s cubic-bezier(.39,.575,.565,1);transition:all .6s cubic-bezier(.39,.575,.565,1)}.fl-standard-knob__dial-highlight{opacity:0;-webkit-transition:all .3s cubic-bezier(.39,.575,.565,1);transition:all .3s cubic-bezier(.39,.575,.565,1)}.fl-reactive-grip-dial .fl-reactive-grip-dial__svg{overflow:visible}.fl-reactive-grip-dial.drag-active .fl-reactive-grip-dial__guide-ring,.fl-reactive-grip-dial:hover .fl-reactive-grip-dial__guide-ring{-webkit-transition:all .3s cubic-bezier(.39,.575,.565,1);transition:all .3s cubic-bezier(.39,.575,.565,1)}.fl-reactive-grip-dial.drag-active .fl-reactive-grip-dial__chrome,.fl-reactive-grip-dial:hover .fl-reactive-grip-dial__chrome{-webkit-transform:scale(.9);transform:scale(.9);-webkit-transition:all .3s cubic-bezier(.39,.575,.565,1);transition:all .3s cubic-bezier(.39,.575,.565,1)}.fl-reactive-grip-dial.focus-active .fl-reactive-grip-dial__focus-indicator{opacity:.8}.fl-reactive-grip-dial__guide-ring{-webkit-transition:all .6s cubic-bezier(.39,.575,.565,1);transition:all .6s cubic-bezier(.39,.575,.565,1)}.fl-reactive-grip-dial__focus-indicator{opacity:0;-webkit-transition:all .3s cubic-bezier(.39,.575,.565,1);transition:all .3s cubic-bezier(.39,.575,.565,1)}.fl-reactive-grip-dial__chrome{-webkit-transform-origin:20px 20px;transform-origin:20px 20px;-webkit-transition:all .6s cubic-bezier(.39,.575,.565,1);transition:all .6s cubic-bezier(.39,.575,.565,1)}
/*# sourceMappingURL=/app.581aa3f0.css.map */