* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100%;
  font-family: "Fjalla One", sans-serif;
}

:root {
  --primary-color: white;
  --secondary-color: rgb(61, 68, 73);
  --highlight-color: #3282b8;
  --dt-status-available-color: greenyellow;
  --dt-status-away-color: lightsalmon;
  --dt-status-offline-color: lightgray;
  --dt-padding: 12px;
  --dt-padding-s: 6px;
  --dt-padding-xs: 2px;
  --dt-border-radius: 3px;
  --dt-background-color-container: #2a3338;
  --dt-border-color: var(--secondary-color);
  --dt-bg-color: var(--highlight-color);
  --dt-text-color: var(--primary-color);
  --dt-bg-active-button: var(--highlight-color);
  --dt-text-color-button: var(--primary-color);
  --dt-text-color-active-button: var(--primary-color);
  --dt-hover-cell-color: var(--highlight-color);
  --dt-even-row-color: var(--secondary-color);
  --dt-focus-color: var(--highlight-color);
  --dt-input-background-color: var(--secondary-color);
  --dt-input-color: var(--primary-color);
}

.playlist-buttons {
  font-size: 16px;
}

.datatable-container {
  font-family: sans-serif;
  background-color: var(--dt-background-color-container);
  border-radius: var(--dt-border-radius);
  color: var(--dt-text-color);
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-size: 12px;
}

.datatable-container .header-tools {
  border-bottom: solid 1px var(--dt-border-color);
  padding: var(--dt-padding);
  padding-left: 0;
  display: flex;
}

.datatable-container .header-tools .search {
  width: 30%;
  margin-left: 1%;
}

.datatable-container .header-tools .search .search-input {
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  background-color: var(--dt-input-background-color);
  display: block;
  box-sizing: border-box;
  border-radius: var(--dt-border-radius);
  border: solid 1px var(--dt-border-color);
  color: var(--dt-input-color);
}

.datatable-container .header-tools .tools {
  width: 40%;
}

.datatable-container .header-tools .tools ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: start;
  align-items: baseline;
}

.datatable-container .header-tools .tools ul li {
  display: inline-block;
  margin: 0 var(--dt-padding-xs);
  align-items: baseline;
}

.datatable-container .footer-tools {
  padding: var(--dt-padding);
  display: flex;
  align-items: baseline;
}

.datatable-container .footer-tools .list-items {
  width: 50%;
}

.datatable-container .footer-tools .pages {
  margin-left: auto;
  margin-right: 0;
  width: 50%;
}

.datatable-container .footer-tools .pages ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
}

.datatable-container .footer-tools .pages ul li {
  display: inline-block;
  margin: 0 var(--dt-padding-xs);
}

.datatable-container .footer-tools .pages ul li button,
.datatable-container .header-tools .tools ul li button {
  color: var(--dt-text-color-button);
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border-radius: var(--dt-border-radius);
  background: transparent;
  cursor: pointer;
}

.datatable-container .footer-tools .pages ul li button:hover,
.datatable-container .header-tools .tools ul li button:hover {
  background: var(--dt-bg-active-button);
  color: var(--dt-text-color-active-button);
}

.datatable-container .footer-tools .pages ul li span.active {
  background-color: var(--dt-bg-color);
  border-radius: var(--dt-border-radius);
}

.datatable-container .footer-tools .pages ul li button,
.datatable-container .footer-tools .pages ul li span,
.datatable-container .header-tools .tools ul li button {
  padding: var(--dt-padding-s) var(--dt-padding);
}

.datatable-container .datatable {
  border-collapse: collapse;
  width: 100%;
}

.datatable-container .datatable,
.datatable-container .datatable th,
.datatable-container .datatable td {
  padding: var(--dt-padding) var(--dt-padding);
}

.datatable-container .datatable th {
  font-weight: bolder;
  text-align: left;
  border-bottom: solid 1px var(--dt-border-color);
}

.datatable-container .datatable td {
  border-bottom: solid 1px var(--dt-border-color);
}

.datatable-container .datatable tbody {
  overflow: auto;
}

.datatable-container .datatable tbody tr:nth-child(even) {
  background-color: #2e3235;
}

.datatable-container .datatable tbody tr:hover {
  background-color: var(--dt-hover-cell-color);
  cursor: pointer;
}

.datatable-container .datatable tbody tr .available::after,
.datatable-container .datatable tbody tr .away::after,
.datatable-container .datatable tbody tr .offline::after {
  display: inline-block;
  vertical-align: middle;
}

.datatable-container .datatable tbody tr .available::after {
  content: "Online";
  color: var(--dt-status-available-color);
}

.datatable-container .datatable tbody tr .away::after {
  content: "Away";
  color: var(--dt-status-away-color);
}

.datatable-container .datatable tbody tr .offline::after {
  content: "Offline";
  color: var(--dt-status-offline-color);
}

.datatable-container .datatable tbody tr .available::before,
.datatable-container .datatable tbody tr .away::before,
.datatable-container .datatable tbody tr .offline::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  border-radius: 50%;
  vertical-align: middle;
}

.datatable-container .datatable tbody tr .available::before {
  background-color: var(--dt-status-available-color);
}

.datatable-container .datatable tbody tr .away::before {
  background-color: var(--dt-status-away-color);
}

.datatable-container .datatable tbody tr .offline::before {
  background-color: var(--dt-status-offline-color);
}

.datatable tbody {
  display: block;
  max-height: 30vh;
}

.datatable thead, .datatable tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.datatable thead {
  width: calc( 100% - 1.1em );
}

.anotherclass {
  background-color: green !important;
}

.app-container {
  display: grid;
  grid-template-rows: 2vh 54vh 40vh;
  row-gap: 2vh;
  justify-items: center;
}

header {
  width: 95%;
  border: 2px solid black;
}

.decks-container {
  width: 95%;
  border: 2px solid black;
  display: grid;
  grid-template-columns: 38% 24% 38%;
}
.decks-container .deck1 {
  border: 2px solid black;
  height: 74%;
  display: grid;
  grid-template-columns: 80px 5fr;
}
.decks-container .deck1-panel {
  border: 2px solid purple;
  display: grid;
  grid-template-rows: 70% 1fr;
}
.decks-container .deck1-panel-info {
  display: flex;
  flex-direction: column;
}
.decks-container .deck1-panel-transport {
  display: flex;
  align-items: center;
  justify-content: center;
}
.decks-container .deck1-panel-transport .button {
  padding: 30px;
  margin: 0 5px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
  text-shadow: -1px 1px 0px rgba(0, 128, 0, 0.14);
  text-align: center;
  font-size: 12px;
  padding: 20px;
  border-radius: 3px;
  display: inline-block;
  background-image: linear-gradient(#393F45, #52585E);
  min-height: 5px;
  min-width: 40px;
  box-shadow: 0 1px 4px rgba(255, 255, 255, 0.15) inset, 0 -20px 100px rgba(0, 0, 0, 0.25) inset, -3px -2px 5px rgba(0, 0, 0, 0.5);
}
.decks-container .deck1-panel-transport .button:active {
  box-shadow: 0 1px 5px rgba(255, 255, 255, 0.08) inset, 0 -20px 100px rgba(0, 0, 0, 0.25) inset, -2px 2px 2px rgba(0, 0, 0, 0.25), 0 10px 100px rgba(0, 0, 0, 0.2) inset;
}
.decks-container .deck1-panel-transport .button svg {
  fill: #FFA830;
}
.decks-container .deck1-eq {
  position: absolute;
  height: 100%;
  border: 2px solid hotpink;
  width: 11vh;
  align-self: flex-end;
  left: 0%;
}
.decks-container .deck1-eq-high {
  border: 2px solid green;
  width: 100%;
  height: 25%;
}
.decks-container .deck1-eq-mid {
  border: 2px solid green;
  width: 100%;
  height: 25%;
}
.decks-container .deck1-eq-low {
  border: 2px solid green;
  width: 100%;
  height: 25%;
}
.decks-container .deck1-eq-filter {
  border: 2px solid green;
  width: 100%;
  height: 25%;
}
.decks-container .deck1-tempo {
  border: 2px solid crimson;
  align-self: flex-end;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.decks-container .deck1-tempo .input-container {
  position: absolute;
  left: -122%;
  top: 43%;
}
.decks-container .deck1-tempo .input-container input[type=range] {
  cursor: pointer;
  width: 260px !important;
  -webkit-appearance: none;
  z-index: 200;
  border: 1px solid #e6e6e6;
  background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e6e6e6), to(#d2d2d2));
  background-image: -webkit-linear-gradient(right, #e6e6e6, #d2d2d2);
  background-image: -moz-linear-gradient(right, #e6e6e6, #d2d2d2);
  background-image: -ms-linear-gradient(right, #e6e6e6, #d2d2d2);
  background-image: -o-linear-gradient(right, #e6e6e6, #d2d2d2);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.decks-container .deck1-tempo .input-container input[type=range]:focus {
  border: 0 !important;
  outline: none !important;
}
.decks-container .deck1-tempo .input-container input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 35px;
  height: 50px;
  background: repeating-linear-gradient(90deg, #fff 1px, #fff 1px, #242A2E 1px, #353B3F 10px);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all 0.3s ease-out;
}
.decks-container .deck1-tempo .input-container input[type=range]::-webkit-slider-thumb:hover {
  width: 30px;
}
.decks-container .mixer {
  min-width: 340px;
  display: grid;
  grid-template-columns: 100px 1.5fr 100px;
  grid-template-rows: 4fr 1fr;
}
.decks-container .mixer-deck1-vol {
  border: 2px solid yellow;
  position: relative;
}
.decks-container .mixer-deck1-vol .input-container {
  position: absolute;
  z-index: 300;
  left: -13%;
  top: 43%;
}
.decks-container .mixer-deck1-vol .input-container input[type=range] {
  cursor: pointer;
  width: 300px !important;
  -webkit-appearance: none;
  z-index: 200;
  width: 50px;
  border: 1px solid #e6e6e6;
  background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e6e6e6), to(#d2d2d2));
  background-image: -webkit-linear-gradient(right, #e6e6e6, #d2d2d2);
  background-image: -moz-linear-gradient(right, #e6e6e6, #d2d2d2);
  background-image: -ms-linear-gradient(right, #e6e6e6, #d2d2d2);
  background-image: -o-linear-gradient(right, #e6e6e6, #d2d2d2);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.decks-container .mixer-deck1-vol .input-container input[type=range]:focus {
  border: 0 !important;
  outline: none !important;
}
.decks-container .mixer-deck1-vol .input-container input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 35px;
  height: 50px;
  background: repeating-linear-gradient(90deg, #fff 1px, #fff 1px, #242A2E 1px, #353B3F 10px);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all 0.3s ease-out;
}
.decks-container .mixer-deck1-vol .input-container input[type=range]::-webkit-slider-thumb:hover {
  width: 30px;
}
.decks-container .mixer-meters {
  border: 2px solid purple;
}
.decks-container .mixer-deck2-vol {
  border: 2px solid fuchsia;
  position: relative;
}
.decks-container .mixer-deck2-vol .input-container {
  position: absolute;
  z-index: 300;
  pointer-events: none;
  left: -198%;
  top: 43%;
}
.decks-container .mixer-deck2-vol .input-container input[type=range] {
  pointer-events: auto;
  cursor: pointer;
  width: 300px !important;
  -webkit-appearance: none;
  z-index: 200;
  width: 50px;
  border: 1px solid #e6e6e6;
  background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e6e6e6), to(#d2d2d2));
  background-image: -webkit-linear-gradient(right, #e6e6e6, #d2d2d2);
  background-image: -moz-linear-gradient(right, #e6e6e6, #d2d2d2);
  background-image: -ms-linear-gradient(right, #e6e6e6, #d2d2d2);
  background-image: -o-linear-gradient(right, #e6e6e6, #d2d2d2);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.decks-container .mixer-deck2-vol .input-container input[type=range]:focus {
  border: 0 !important;
  outline: none !important;
}
.decks-container .mixer-deck2-vol .input-container input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 35px;
  height: 50px;
  background: repeating-linear-gradient(90deg, #fff 1px, #fff 1px, #242A2E 1px, #353B3F 10px);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all 0.3s ease-out;
}
.decks-container .mixer-deck2-vol .input-container input[type=range]::-webkit-slider-thumb:hover {
  width: 30px;
}
.decks-container .mixer-crossfader {
  border: 2px solid green;
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.decks-container .mixer-crossfader input[type=range] {
  cursor: pointer;
  width: 300px !important;
  -webkit-appearance: none;
  z-index: 200;
  width: 50px;
  border: 1px solid #e6e6e6;
  background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e6e6e6), to(#d2d2d2));
  background-image: -webkit-linear-gradient(right, #e6e6e6, #d2d2d2);
  background-image: -moz-linear-gradient(right, #e6e6e6, #d2d2d2);
  background-image: -ms-linear-gradient(right, #e6e6e6, #d2d2d2);
  background-image: -o-linear-gradient(right, #e6e6e6, #d2d2d2);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.decks-container .mixer-crossfader input[type=range]:focus {
  border: 0 !important;
  outline: none !important;
}
.decks-container .mixer-crossfader input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 35px;
  height: 50px;
  background: repeating-linear-gradient(90deg, #fff 1px, #fff 1px, #242A2E 1px, #353B3F 10px);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all 0.3s ease-out;
}
.decks-container .mixer-crossfader input[type=range]::-webkit-slider-thumb:hover {
  width: 30px;
}
.decks-container .deck2 {
  border: 2px solid black;
  height: 74%;
  display: grid;
  grid-template-columns: 5fr 80px;
}
.decks-container .deck2-panel {
  border: 2px solid purple;
  display: grid;
  grid-template-rows: 70% 1fr;
}
.decks-container .deck2-panel-info {
  display: flex;
  flex-direction: column;
  width: 30vw;
}
.decks-container .deck2-panel-transport {
  display: flex;
  align-items: center;
  justify-content: center;
}
.decks-container .deck2-panel-transport .button {
  padding: 30px;
  margin: 0 5px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
  text-shadow: -1px 1px 0px rgba(0, 128, 0, 0.14);
  text-align: center;
  font-size: 12px;
  padding: 20px;
  border-radius: 3px;
  display: inline-block;
  background-image: linear-gradient(#393F45, #52585E);
  min-height: 5px;
  min-width: 40px;
  box-shadow: 0 1px 4px rgba(255, 255, 255, 0.15) inset, 0 -20px 100px rgba(0, 0, 0, 0.25) inset, -3px -2px 5px rgba(0, 0, 0, 0.5);
}
.decks-container .deck2-panel-transport .button:active {
  box-shadow: 0 1px 5px rgba(255, 255, 255, 0.08) inset, 0 -20px 100px rgba(0, 0, 0, 0.25) inset, -2px 2px 2px rgba(0, 0, 0, 0.25), 0 10px 100px rgba(0, 0, 0, 0.2) inset;
}
.decks-container .deck2-panel-transport .button svg {
  fill: #FFA830;
}
.decks-container .deck2-eq {
  position: absolute;
  height: 100%;
  border: 2px solid hotpink;
  width: 11vh;
  align-self: flex-end;
  right: 0%;
}
.decks-container .deck2-eq-high {
  border: 2px solid green;
  width: 100%;
  height: 25%;
}
.decks-container .deck2-eq-mid {
  border: 2px solid green;
  width: 100%;
  height: 25%;
}
.decks-container .deck2-eq-low {
  border: 2px solid green;
  width: 100%;
  height: 25%;
}
.decks-container .deck2-eq-filter {
  border: 2px solid green;
  width: 100%;
  height: 25%;
}
.decks-container .deck2-tempo {
  border: 2px solid crimson;
  align-self: flex-end;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.decks-container .deck2-tempo .input-container {
  position: absolute;
  left: -122%;
  top: 43%;
}
.decks-container .deck2-tempo .input-container input[type=range] {
  cursor: pointer;
  width: 260px !important;
  -webkit-appearance: none;
  z-index: 200;
  border: 1px solid #e6e6e6;
  background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e6e6e6), to(#d2d2d2));
  background-image: -webkit-linear-gradient(right, #e6e6e6, #d2d2d2);
  background-image: -moz-linear-gradient(right, #e6e6e6, #d2d2d2);
  background-image: -ms-linear-gradient(right, #e6e6e6, #d2d2d2);
  background-image: -o-linear-gradient(right, #e6e6e6, #d2d2d2);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.decks-container .deck2-tempo .input-container input[type=range]:focus {
  border: 0 !important;
  outline: none !important;
}
.decks-container .deck2-tempo .input-container input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 35px;
  height: 50px;
  background: repeating-linear-gradient(90deg, #fff 1px, #fff 1px, #242A2E 1px, #353B3F 10px);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all 0.3s ease-out;
}
.decks-container .deck2-tempo .input-container input[type=range]::-webkit-slider-thumb:hover {
  width: 30px;
}

.playlist-container {
  width: 95%;
  border: 2px solid black;
}

.waveform-container {
  margin-bottom: 10px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.loadBtn-container {
  position: relative;
}
.loadBtn-container .loadBtn {
  padding: 30px;
  margin: 0 5px;
  position: absolute;
  right: 1vw;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
     supported by Chrome, Edge, Opera and Firefox */
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
  text-shadow: -1px 1px 0px rgba(0, 128, 0, 0.14);
  text-align: center;
  font-size: 12px;
  padding: 10px;
  border-radius: 300px;
  display: inline-block;
  background-image: linear-gradient(#393F45, #52585E);
  min-height: 5px;
  min-width: 40px;
  box-shadow: 0 1px 4px rgba(255, 255, 255, 0.15) inset, 0 -20px 100px rgba(0, 0, 0, 0.25) inset, -3px -2px 5px rgba(0, 0, 0, 0.5);
}
.loadBtn-container .loadBtn:active {
  box-shadow: 0 1px 5px rgba(255, 255, 255, 0.08) inset, 0 -20px 100px rgba(0, 0, 0, 0.25) inset, -2px 2px 2px rgba(0, 0, 0, 0.25), 0 10px 100px rgba(0, 0, 0, 0.2) inset;
}

.waveform-contain {
  height: 128px;
  width: 100%;
  border: 2px solid black;
  position: relative;
  background: #bfeecc;
}
.waveform-contain .waveform-position {
  position: absolute;
  width: 100%;
  bottom: 0px;
}
.knob-input__container{position:relative}.knob-input__visual{pointer-events:none;width:100%;height:100%}.knob-input__input{cursor:-webkit-grab;cursor:grab;position:absolute;left:0;top:0;width:100%;height:100%;opacity:0}body.knob-input__drag-active,body.knob-input__drag-active *{cursor:-webkit-grabbing!important;cursor:grabbing!important}.fl-standard-knob .fl-standard-knob__svg{overflow:visible}.fl-standard-knob.drag-active .fl-standard-knob__dial,.fl-standard-knob:hover .fl-standard-knob__dial{-webkit-transform:scale(.9);transform:scale(.9);-webkit-transition:all .3s cubic-bezier(.39,.575,.565,1);transition:all .3s cubic-bezier(.39,.575,.565,1)}.fl-standard-knob.drag-active .fl-standard-knob__dial-highlight,.fl-standard-knob:hover .fl-standard-knob__dial-highlight{opacity:.05}.fl-standard-knob.focus-active .fl-standard-knob__focus-indicator{opacity:.8}.fl-standard-knob__focus-indicator{opacity:0;-webkit-transition:all .3s cubic-bezier(.39,.575,.565,1);transition:all .3s cubic-bezier(.39,.575,.565,1)}.fl-standard-knob__dial{-webkit-transform-origin:20px 20px;transform-origin:20px 20px;-webkit-transition:all .6s cubic-bezier(.39,.575,.565,1);transition:all .6s cubic-bezier(.39,.575,.565,1)}.fl-standard-knob__dial-highlight{opacity:0;-webkit-transition:all .3s cubic-bezier(.39,.575,.565,1);transition:all .3s cubic-bezier(.39,.575,.565,1)}.fl-reactive-grip-dial .fl-reactive-grip-dial__svg{overflow:visible}.fl-reactive-grip-dial.drag-active .fl-reactive-grip-dial__guide-ring,.fl-reactive-grip-dial:hover .fl-reactive-grip-dial__guide-ring{-webkit-transition:all .3s cubic-bezier(.39,.575,.565,1);transition:all .3s cubic-bezier(.39,.575,.565,1)}.fl-reactive-grip-dial.drag-active .fl-reactive-grip-dial__chrome,.fl-reactive-grip-dial:hover .fl-reactive-grip-dial__chrome{-webkit-transform:scale(.9);transform:scale(.9);-webkit-transition:all .3s cubic-bezier(.39,.575,.565,1);transition:all .3s cubic-bezier(.39,.575,.565,1)}.fl-reactive-grip-dial.focus-active .fl-reactive-grip-dial__focus-indicator{opacity:.8}.fl-reactive-grip-dial__guide-ring{-webkit-transition:all .6s cubic-bezier(.39,.575,.565,1);transition:all .6s cubic-bezier(.39,.575,.565,1)}.fl-reactive-grip-dial__focus-indicator{opacity:0;-webkit-transition:all .3s cubic-bezier(.39,.575,.565,1);transition:all .3s cubic-bezier(.39,.575,.565,1)}.fl-reactive-grip-dial__chrome{-webkit-transform-origin:20px 20px;transform-origin:20px 20px;-webkit-transition:all .6s cubic-bezier(.39,.575,.565,1);transition:all .6s cubic-bezier(.39,.575,.565,1)}
/*# sourceMappingURL=/app.581aa3f0.css.map */