* {
    box-sizing: border-box;
    margin: 0;

}

body {
    height: 100%;
    font-family: 'Fjalla One', sans-serif;

}

@import './table.scss';

.app-container {
    display: grid;
    grid-template-rows: 2vh 54vh 40vh;
    row-gap: 2vh;
    justify-items: center;

}

header {

    width: 95%;
    border: 2px solid black;
    
}



.decks-container {
    
    width: 95%;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 38% 24% 38%;

    .deck1 {

        border: 2px solid black;
        height: 74%;
        // display: flex;
        // justify-content: space-between;

        display: grid;

        grid-template-columns: 80px 5fr;

        &-panel {


            border: 2px solid purple;
            display: grid;
            grid-template-rows: 70% 1fr;


            &-info {

                display: flex;
                flex-direction: column;

            }

            &-transport {
                display: flex;
                align-items: center;
                justify-content: center;

                .button{

                    // background-color: grey;
                    padding: 30px;

                    margin: 0 5px;

                    cursor: pointer;
                    color: rgba(0, 0, 0, 0.6);
                    text-shadow: -1px 1px 0px rgba(green, 0.14);
                    text-align: center;
                    font-size: 12px;
                    padding: 20px;
                    border-radius: 3px;
                    display: inline-block;
                    background-image: linear-gradient(#393F45, #52585E);
                    min-height: 5px;
                    min-width: 40px;
                    box-shadow: 0 1px 4px rgba(255, 255, 255, 0.15) inset, 0 -20px 100px rgba(0, 0, 0, 0.25) inset, -3px -2px 5px rgba(0, 0, 0, 0.5);
                    &:active {
                        box-shadow: 0 1px 5px rgba(255, 255, 255, 0.08) inset, 0 -20px 100px rgba(0, 0, 0, 0.25) inset, -2px 2px 2px rgba(0, 0, 0, 0.25), 0 10px 100px rgba(0, 0, 0, 0.2) inset;
                    }

                    svg{
                        fill: #FFA830;
                    }

                }

            }

        }


        &-eq {

            position: absolute;

            height: 100%;
            border: 2px solid hotpink;
            width: 11vh;
            align-self: flex-end;
            left: 0%;

            &-high {
                border: 2px solid green;
                width: 100%;
                height: 25%;
            }

            &-mid{
                border: 2px solid green;
                width: 100%;
                height: 25%;
            }

            &-low {
                border: 2px solid green;
                width: 100%;
                height: 25%;
            }

            &-filter {
                border: 2px solid green;
                width: 100%;
                height: 25%;
            }


        }

        &-tempo {

            border: 2px solid crimson;
            // width: 100%;
            align-self: flex-end;


            height: 100%;


            position: relative;
            overflow: hidden;
            

            .input-container {

                position: absolute;

                left: -122%;
                top: 43%;
            




                input[type=range]{

                    
                    cursor: pointer;
                    width: 260px !important;
                    -webkit-appearance: none;
                    z-index: 200;
                    // width:50px;
                    border: 1px solid #e6e6e6;
                    background-color: #e6e6e6;
                    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e6e6e6), to(#d2d2d2));
                    background-image: -webkit-linear-gradient(right, #e6e6e6, #d2d2d2);
                    background-image: -moz-linear-gradient(right, #e6e6e6, #d2d2d2);
                    background-image: -ms-linear-gradient(right, #e6e6e6, #d2d2d2);
                    background-image: -o-linear-gradient(right, #e6e6e6, #d2d2d2);
    
                    -webkit-border-radius: 20px;
                    -moz-border-radius: 20px;
                    border-radius: 20px;
    
                    -webkit-transform:rotate(270deg);
                    -moz-transform:rotate(270deg);
                    -o-transform:rotate(270deg);
                    -ms-transform:rotate(270deg);
                    transform:rotate(270deg);
    
    
    
                    &:focus{
    
                        border: 0 !important;
                        outline: none !important;
    
                    }
    
    
                    &::-webkit-slider-thumb{
    
                        -webkit-appearance: none;
                        width: 35px;
                        height: 50px;


                        background: repeating-linear-gradient( 90deg, #fff 1px, #fff 1px, #242A2E 1px,#353B3F 10px); 
    
                        -webkit-border-radius: 5px;
                        -moz-border-radius: 5px;
                        -o-border-radius: 5px;

                        transition: all .3s ease-out;

                        &:hover {
                            width: 30px;

                        }
                        
                    }
                    
    
                }

            }


        }

    }


    .mixer {

        min-width: 340px;

        display: grid;
        grid-template-columns: 100px 1.5fr 100px;
        grid-template-rows: 4fr 1fr;


        &-deck1-vol {
            border: 2px solid yellow;


            position: relative;

            .input-container {

                position: absolute;

                z-index: 300;
                
                left: -13%;
                top: 43%;


                input[type=range]{

                    cursor: pointer;
                    width: 300px !important;
                    -webkit-appearance: none;
                    z-index: 200;
                    width:50px;
                    border: 1px solid #e6e6e6;
                    background-color: #e6e6e6;
                    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e6e6e6), to(#d2d2d2));
                    background-image: -webkit-linear-gradient(right, #e6e6e6, #d2d2d2);
                    background-image: -moz-linear-gradient(right, #e6e6e6, #d2d2d2);
                    background-image: -ms-linear-gradient(right, #e6e6e6, #d2d2d2);
                    background-image: -o-linear-gradient(right, #e6e6e6, #d2d2d2);
    
                    -webkit-border-radius: 20px;
                    -moz-border-radius: 20px;
                    border-radius: 20px;
    
                    -webkit-transform:rotate(270deg);
                    -moz-transform:rotate(270deg);
                    -o-transform:rotate(270deg);
                    -ms-transform:rotate(270deg);
                    transform:rotate(270deg);
    
    
                    &:focus{
    
                        border: 0 !important;
                        outline: none !important;
    
                    }
    
    
                    &::-webkit-slider-thumb{
    
                        -webkit-appearance: none;
                        width: 35px;
                        height: 50px;


                        background: repeating-linear-gradient( 90deg, #fff 1px, #fff 1px, #242A2E 1px,#353B3F 10px); 
    
                        -webkit-border-radius: 5px;
                        -moz-border-radius: 5px;
                        -o-border-radius: 5px;

                        transition: all .3s ease-out;

                        &:hover {
                            width: 30px;

                        }
                        
                    }
                
                }

            }

        }


        &-meters {
            border: 2px solid purple;
            // height: 300px;
        }


        &-deck2-vol {

            border: 2px solid fuchsia;
            position: relative;

            .input-container {

                position: absolute;
                z-index: 300;
                pointer-events: none;

                left: -198%;
                top: 43%;


                input[type=range]{

                    pointer-events: auto;

                    
                    cursor: pointer;
                    width: 300px !important;
                    -webkit-appearance: none;
                    z-index: 200;
                    width:50px;
                    border: 1px solid #e6e6e6;
                    background-color: #e6e6e6;
                    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e6e6e6), to(#d2d2d2));
                    background-image: -webkit-linear-gradient(right, #e6e6e6, #d2d2d2);
                    background-image: -moz-linear-gradient(right, #e6e6e6, #d2d2d2);
                    background-image: -ms-linear-gradient(right, #e6e6e6, #d2d2d2);
                    background-image: -o-linear-gradient(right, #e6e6e6, #d2d2d2);
    
                    -webkit-border-radius: 20px;
                    -moz-border-radius: 20px;
                    border-radius: 20px;
    
                    -webkit-transform:rotate(270deg);
                    -moz-transform:rotate(270deg);
                    -o-transform:rotate(270deg);
                    -ms-transform:rotate(270deg);
                    transform:rotate(270deg);
    
    
    
                    &:focus{
    
                        border: 0 !important;
                        outline: none !important;
    
                    }
    
    
                    &::-webkit-slider-thumb{
    
                        -webkit-appearance: none;
                        width: 35px;
                        height: 50px;


                        background: repeating-linear-gradient( 90deg, #fff 1px, #fff 1px, #242A2E 1px,#353B3F 10px); 
    
                        -webkit-border-radius: 5px;
                        -moz-border-radius: 5px;
                        -o-border-radius: 5px;

                        transition: all .3s ease-out;

                        &:hover {
                            width: 30px;

                        }
                        
                    }
    
                }

            }

        }


        &-crossfader {
            border: 2px solid green;
            grid-column-start: 1;
            grid-column-end: 4;

            display: flex;
            justify-content: center;
            align-items: center;


            input[type=range]{


                cursor: pointer;
                width: 300px !important;
                -webkit-appearance: none;
                z-index: 200;
                width:50px;
                border: 1px solid #e6e6e6;
                background-color: #e6e6e6;
                background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e6e6e6), to(#d2d2d2));
                background-image: -webkit-linear-gradient(right, #e6e6e6, #d2d2d2);
                background-image: -moz-linear-gradient(right, #e6e6e6, #d2d2d2);
                background-image: -ms-linear-gradient(right, #e6e6e6, #d2d2d2);
                background-image: -o-linear-gradient(right, #e6e6e6, #d2d2d2);

                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                border-radius: 20px;


                &:focus{

                    border: 0 !important;
                    outline: none !important;

                }


                &::-webkit-slider-thumb{

                    -webkit-appearance: none;
                    width: 35px;
                    height: 50px;


                    background: repeating-linear-gradient( 90deg, #fff 1px, #fff 1px, #242A2E 1px,#353B3F 10px); 

                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    -o-border-radius: 5px;

                    transition: all .3s ease-out;

                    &:hover {
                        width: 30px;

                    }
                    
                }

            }
        }


    }

    .deck2{

        border: 2px solid black;
        height: 74%;
        // display: flex;
        // justify-content: space-between;

        display: grid;

        grid-template-columns: 5fr 80px;



        &-panel {


            border: 2px solid purple;
            display: grid;
            grid-template-rows: 70% 1fr;


            &-info {

                display: flex;
                flex-direction: column;
                width: 30vw;
            }

            &-transport {
                display: flex;
                align-items: center;
                justify-content: center;


                .button{


                    // background-color: grey;
                    padding: 30px;

                    margin: 0 5px;

                    cursor: pointer;
                    color: rgba(0, 0, 0, 0.6);
                    text-shadow: -1px 1px 0px rgba(green, 0.14);
                    text-align: center;
                    font-size: 12px;
                    padding: 20px;
                    border-radius: 3px;
                    display: inline-block;
                    background-image: linear-gradient(#393F45, #52585E);
                    min-height: 5px;
                    min-width: 40px;
                    box-shadow: 0 1px 4px rgba(255, 255, 255, 0.15) inset, 0 -20px 100px rgba(0, 0, 0, 0.25) inset, -3px -2px 5px rgba(0, 0, 0, 0.5);
                    &:active {
                        box-shadow: 0 1px 5px rgba(255, 255, 255, 0.08) inset, 0 -20px 100px rgba(0, 0, 0, 0.25) inset, -2px 2px 2px rgba(0, 0, 0, 0.25), 0 10px 100px rgba(0, 0, 0, 0.2) inset;
                    }

                    svg{
                        fill: #FFA830;
                    }


                }


            }


        }


        &-eq {

            position: absolute;

            height: 100%;
            border: 2px solid hotpink;
            width: 11vh;
            align-self: flex-end;
            right: 0%;

            &-high {
                border: 2px solid green;
                width: 100%;
                height: 25%;
            }

            &-mid{
                border: 2px solid green;
                width: 100%;
                height: 25%;
            }

            &-low {
                border: 2px solid green;
                width: 100%;
                height: 25%;
            }

            &-filter {
                border: 2px solid green;
                width: 100%;
                height: 25%;
            }


        }


        &-tempo {

            border: 2px solid crimson;
            // width: 100%;
            align-self: flex-end;


            height: 100%;


            position: relative;
            overflow: hidden;
            

            .input-container {

                position: absolute;

                left: -122%;
                top: 43%;
            




                input[type=range]{

                    
                    cursor: pointer;
                    width: 260px !important;
                    -webkit-appearance: none;
                    z-index: 200;
                    // width:50px;
                    border: 1px solid #e6e6e6;
                    background-color: #e6e6e6;
                    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e6e6e6), to(#d2d2d2));
                    background-image: -webkit-linear-gradient(right, #e6e6e6, #d2d2d2);
                    background-image: -moz-linear-gradient(right, #e6e6e6, #d2d2d2);
                    background-image: -ms-linear-gradient(right, #e6e6e6, #d2d2d2);
                    background-image: -o-linear-gradient(right, #e6e6e6, #d2d2d2);
    
                    -webkit-border-radius: 20px;
                    -moz-border-radius: 20px;
                    border-radius: 20px;
    
                    -webkit-transform:rotate(270deg);
                    -moz-transform:rotate(270deg);
                    -o-transform:rotate(270deg);
                    -ms-transform:rotate(270deg);
                    transform:rotate(270deg);
    
    
    
                    &:focus{
    
                        border: 0 !important;
                        outline: none !important;
    
                    }
    
    
                    &::-webkit-slider-thumb{
    
                        -webkit-appearance: none;
                        width: 35px;
                        height: 50px;


                        background: repeating-linear-gradient( 90deg, #fff 1px, #fff 1px, #242A2E 1px,#353B3F 10px); 
    
                        -webkit-border-radius: 5px;
                        -moz-border-radius: 5px;
                        -o-border-radius: 5px;

                        transition: all .3s ease-out;

                        &:hover {
                            width: 30px;

                        }
                        
                    }
                    
    
                }

            }


        }


    }


}

.playlist-container {

    width: 95%;
    border: 2px solid black;
}






// FOR THE LOAD BUTTON //




.waveform-container {
    // position: absolute;

    // height:100%;
    // width: 100%;
    // border: 2px solid black;
    margin-bottom: 10px;

    // position: absolute;
    // height: 4em;
    // width: 8em;
    // background: #bfeecc;
    // left: 58.8%;
    // top: 37%;
    // box-shadow: #4a505a 0px 0px 0px 5px inset, #616976 0px 0px 0px 15px inset, 0px 4px lightgrey;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;

    // #waveform2 {
    //     height: 100%;
    //     width: 100%;
    //     display: flex;
    //     justify-content: center;

    //     align-items: center;

    //     img {
    //         width: 100%;
    //         background-color: silver;
    //         mix-blend-mode: multiply;

    //         height: 70%;
    //     }
    // }

}



.loadBtn-container {
    position: relative;


    .loadBtn {

    
        // background-color: grey;
        padding: 30px;

        margin: 0 5px;
        position: absolute;
        right: 1vw;

        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
         -khtml-user-select: none; /* Konqueror HTML */
           -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome, Edge, Opera and Firefox */



        cursor: pointer;
        color: rgba(0, 0, 0, 0.6);
        text-shadow: -1px 1px 0px rgba(green, 0.14);
        text-align: center;
        font-size: 12px;
        padding: 10px;
        border-radius: 300px;
        display: inline-block;
        background-image: linear-gradient(#393F45, #52585E);
        min-height: 5px;
        min-width: 40px;
        box-shadow: 0 1px 4px rgba(255, 255, 255, 0.15) inset, 0 -20px 100px rgba(0, 0, 0, 0.25) inset, -3px -2px 5px rgba(0, 0, 0, 0.5);
        &:active {
            box-shadow: 0 1px 5px rgba(255, 255, 255, 0.08) inset, 0 -20px 100px rgba(0, 0, 0, 0.25) inset, -2px 2px 2px rgba(0, 0, 0, 0.25), 0 10px 100px rgba(0, 0, 0, 0.2) inset;
        }

    }

}

.waveform-contain {
    height: 128px;
    width: 100%;
    border: 2px solid black;
    position: relative;
    background: #bfeecc;
    display: flex;
    justify-content: center;
    align-items: center;

    .waveform-position{
        position: absolute;
        width: 100%;
        bottom: 0px;
    }

    .waveform-loading1 {
        display: flex;
        flex-direction: column;
        align-items: center;


    }

    .waveform-loading2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .invisible {
        visibility: hidden;
    }
    
}



.zoom-mode{
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 5px;
}

.zoom-mode{
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 5px;
}

.slide1, .slide2 {
    width: 80px;
    height: 30px;
    background: #333;
    margin: 0px 5px;
    position: relative;
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
    &:after {
      content: '';
      position: absolute;
      top: 14px;
      left: 14px;
      height: 2px;
      width: 52px;
      background: #111;
      border-radius: 50px;
      box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
    }
    label {
      display: block;
      width: 22px;
      height: 22px;
      cursor: pointer;
      position: absolute;
      top: 4px;
      z-index: 1;
      left: 4px;
      background: #fcfff4;
      border-radius: 50px;
      transition: all 0.4s ease;
      box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
      background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
      &:after {
        content: '';
        width: 10px;
        height: 10px;
        position: absolute;
        top: 6px;
        left: 6px;
        background: #333;
        border-radius: 50px;
        box-shadow: inset 0px 1px 1px rgba(0,0,0,1), 0px 1px 0px rgba(255,255,255,0.9);
      }
    }
    input[type=checkbox] {
      visibility: hidden;
      &:checked + label {
        left: 54px;
        &:after {
          background: #27ae60; /*activeColor*/
        }
      }
    }    
  }


